.rating-card{
    padding: 20px;
    min-height: 100px;
    max-width: 300px;
    width: auto;
    background-color: rgba(255, 255, 255, 0.136);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    border-radius: 15px;
}
a{
    text-decoration: none;
}