//theme variables
$dark-prm: #b76d68;
$dark-sec: #1b2432;
$dark-prm2: #7c99d5;
$light-prm: #7a306c;
$light-sec: #eaeaea;
$light-prm2: #287b21;
//home-page
//animations
.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  // margin-left: 30px;
  // margin-top: 5px;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

//stylings
.respRC {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  .lft {
    flex: 0.5;
    width: 50vw;
  }
  .rht {
    flex: 0.5;
    display: flex;
    justify-content: center;
  }
}
@keyframes stretch {
  0% {
    letter-spacing: normal;
  }
  100% {
    letter-spacing: 10px;
  }
}
@keyframes glow {
  0% {
    text-shadow: 0;
  }
  100% {
    text-shadow: 0 0 10px $light-sec;
  }
}
@keyframes glow_light {
  0% {
    text-shadow: 0;
  }
  100% {
    text-shadow: 0 0 10px red;
  }
}
.home_name:hover {
  animation: stretch 3s forwards;
}
.typewritten {
  width: 100%;
  text-align: center;
}
.waving_hand {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

.light {
  .typewritten span {
    color: red;
  }
  .typewritten h1 {
    color: black;
  }
  .home_name_inn:hover {
    animation: glow_light 1.5s forwards;
  }
}
.dark {
  .typewritten span {
    color: #eaeaea;
  }
  .home_name_inn:hover {
    animation: glow 1.5s forwards;
  }
}

// about me page

//intro
.about #intro {
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
}

.about #intro .profPic {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  padding: 40px;
  margin-top: 60px;
}
.about #intro #intro_txt {
  max-width: 500px;
  font-size: larger;
}

//skills

.about #skills {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  width: fit-content;
}
.about #skills #icons {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 800px;
}
.about #skills #icons img {
  border: 2px solid;
  padding: 10px;
  border-color: $dark-prm2;
  margin: 10px;
}
.about #skills #icons img:hover {
  transform: scale(1.1);
  transition: cubic-bezier(0.215, 0.61, 0.355, 1) 1s;
}

// tools
.about #tools {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  width: fit-content;
  text-align: end;
}
.about #tools #icons {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 800px;
}
.about #tools #icons img {
  border: 2px solid;
  padding: 10px;
  border-color: $dark-prm2;
  margin: 10px;
}
.about #tools #icons img:hover {
  transform: scale(1.1);
  transition: cubic-bezier(0.215, 0.61, 0.355, 1) 1s;
}

.light {
  .about #intro {
    color: $light-prm2;
  }
  .about #intro .profPic {
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
      rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
      rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
      rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
      rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
      rgba(0, 0, 0, 0.09) 0px 32px 16px;
  }
  .about #intro .highlight {
    color: $light-prm !important;
  }
}
.dark {
  .about #intro {
    color: $dark-prm2;
  }
  .about #intro .profPic {
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
      rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
      rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
      rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
      rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
      rgba(0, 0, 0, 0.09) 0px 32px 16px;
  }
  .about #intro .highlight {
    color: $dark-prm !important;
  }
}

// resume page
p {
  margin: 0;
}
.edu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.edu .edu_lf {
  display: flex;
  flex-direction: column;
}
.edu_gif {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  margin: 0 auto;
  border: 5px solid goldenrod;
  padding: 10px;
}
.edu_data {
  max-width: 600px;
  width: fit-content;
  height: fit-content;
  margin-bottom: 50px;
}
.edu_row {
  border: 3px solid;
  transform: skew(1deg,1deg);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  // border-radius: 20px;
  font-weight: 600;
  padding: 10px;
  display: block;
  margin: 10px;
  min-width: 300px;
}
.edu .edu_row:hover {
  transition: cubic-bezier(0.215, 0.61, 0.355, 1) 1s;
}
.edu .edu_row.edu_row:nth-child(odd):hover {
  transform: perspective(1000px) rotateY(10deg);
}
.edu .edu_row.edu_row:nth-child(even):hover {
  transform: perspective(1000px) rotateY(-10deg);
}
.edu .edu_row:nth-child(odd) {
  float: left;
}
.edu .edu_row:nth-child(even) {
  float: right;
}
.edu .edu_data {
  .degree {
    box-sizing: border-box;
    border: 2px solid;
    color: $dark-prm;
    padding: 3px;
  }
  .ed_head {
    display: flex;
    justify-content: space-between;
  }
}
.light {
  .edu {
    color: $light-prm2;
  }
  .edu_gif {
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
      rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
      rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
      rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
      rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
      rgba(0, 0, 0, 0.09) 0px 32px 16px;
    border-color: $light-prm;
  }
  .ed_grade {
    color: $light-prm2 !important;
  }
  .edu .edu_row {
    background-color: $light-sec;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -15px;
  }
  .edu .edu_row:hover {
    background-color: rgba($color: #00f, $alpha: 0.2);
  }
}
.dark {
  .edu{
    color: $dark-prm2;
  }
  .edu_gif {
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
      rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
      rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
      rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
      rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
      rgba(0, 0, 0, 0.09) 0px 32px 16px;
    border-color: $dark-prm;
  }
  .ed_grade {
    color: $dark-prm2 !important;
  }
  .edu .edu_row {
    background-color: $dark-sec;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 30px 30px -12px,
      rgba(255, 255, 255, 0.3) 0px 18px 0px -15px;
  }
  .edu .edu_row:hover {
    background-color: rgba($color: grey, $alpha: 0.2);
  }
}

@media screen and (max-width: 768px) {
  .respRC {
    flex-direction: column;
    .lft {
      width: 100%;
      margin-bottom: 1rem;
    }
    .rht {
      width: 100%;
      margin-bottom: 1rem;
    }
  }
  .about #intro {
    flex-direction: column-reverse;
    width: fit-content;
    text-align: center;
  }
  .about #intro .profPic {
    margin: auto;
  }
  .edu {
    flex-direction: column;
    width: 100%;
    margin-bottom: 1rem;
    justify-content: center;
  }
  .edu .edu_data {
    margin: auto;
  }
}
