@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    -ms-overflow-style: none;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 10px;
}